conchord/
__pycache__/
*.pyc
*.pyo
.env
.venv
*.log
.DS_Store
*.wav
*.lab
data/datasets/IDMT/*
!data/datasets/IDMT/guitar/
!data/datasets/IDMT/guitar/.gitkeep
!data/datasets/IDMT/non_guitar/
!data/datasets/IDMT/non_guitar/.gitkeep