# Python and environment files
__pycache__/
*.pyc
*.pyo
.env
.venv
*.log
*.DS_Store

# Audio and annotation data
*.wav
*.lab
*.mid
*.arff
*.csv

# Ignore all datasets content but preserve directory structure with .gitkeep
data/datasets/IDMT/*
data/datasets/AAM/*
data/datasets/MAESTRO/*
!data/datasets/IDMT/guitar/.gitkeep
!data/datasets/IDMT/non_guitar/.gitkeep
!data/datasets/AAM/.gitkeep
!data/datasets/MAESTRO/2018/.gitkeep
!data/datasets/MAESTRO/2017/.gitkeep

# Ignore contents of these folders, but keep structure
data/preprocessed/*
!data/preprocessed/.gitkeep

data/filtered/*
!data/filtered/.gitkeep

data/splitted/*
!data/splitted/.gitkeep

# Test files
test.py
tests.py

# vscode
.vscode
theme.css