# Python and environment files
__pycache__/
*.pyc
*.pyo
.env
.venv
*.log
.DS_Store

# Audio and annotation data
*.wav
*.lab
*.mid
*.arff

# Ignore all datasets content but preserve directory structure with .gitkeep
data/datasets/IDMT/*
data/datasets/AAM/*
!data/datasets/IDMT/guitar/.gitkeep
!data/datasets/IDMT/non_guitar/.gitkeep
!data/datasets/AAM/.gitkeep

# tests
tests.py